body{
    margin: 0;
    padding: 0;
    font-family: 'Arsenal', sans-serif;
    color:black;
}

table{
    border: 2px solid #CCCCCC;
	border-radius: 2px;
}

td{
    border: 2px solid #CCCCCC;
	border-radius: 2px;
	text-align: center;
	padding:10px;
    text-align: center;
    width: 150px;
}

.year{
    font-weight: 600;
}

.name{
    width: 200px;
    text-align: left;
}